body {
    /*background-color: pink;*/
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    display: inline;
  }

  .navWrapper {
    /*background-color: orange;*/
    color: white;
    overflow: auto;
    position:relative;
    border-bottom: 1px solid #777777;
  }

  .contentWrapper {
    /*background-color: orange;*/
    background-image: url("../../assets/images/ignasi_pattern_s.png");
    /*color: white;*/
    overflow: auto;
    position:relative;
    border-bottom: 1px solid #777777;
  }

  .footerWrapper {
    /*background-color: orange;*/
    color: white;
    overflow: auto;
    position:relative;
    border-bottom: 1px solid #777777;
  }

  .overContainer {
    /*background-color: red;*/
    margin: 0 auto;
    width: 960px;
    overflow: auto;
  }

  h1, h2, h3 {
    font-family: "Georgia", Times, Times New Roman, serif;
  }

  h1.about {
    color: #4aaaa5;
  }

  h1.nameLogo {
    background-color: #4aaaa5;
    padding: 20px;
    margin: 20px 20px 0 0;
    float: left;
  }

  nav {
    color: black;
    float: right;
    margin: 40px 0 0 0
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  img.headshot {
    height: 250px;
    float: left;
    padding: 20px 20px 0 0;
  }

  img.socialIcons {
    height: 65px;
    width: 65px;
    padding: 10px 2px 10px 2px;
  }

  section {
    background-color: white;
    width: 600px;
    padding: 10px 20px 0 20px;
    margin: 30px 0 20px 0;
    border: 1px solid black;
    float: left;
    clear: both;
  }

  p {
    padding: 20px 0 0 0;
    line-height: 2em;
  }

  .widget {
    background-color: white;
    width: 220px;
    padding: 10px 20px 30px 20px;
    margin: 30px 0 20px 0;
    border: 1px solid black;
    float: right;
    /*clear: both;*/
  }

  footer {
    background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    clear: both;
  }

  .portfolioImage {
    border: solid;
    margin: 20px;
    width: 225px;
    height: 225px;
    float: left;
  }

  h3 {
    color: #ffffff;
    width: 225px;
    text-align: center;
    margin: 160px 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4aaaa5;
    position: absolute;
    z-index: 2;
    /*float: left;*/
    /*clear: both;*/
  }

  img.other {
    /*background-color: pink;*/
    height: 225px;
    z-index: 1;
    /*float: left;*/
    position: absolute;
    /*clear: both;*/
    padding: 0;
  }

  input{
    width: 100%;
    /*opacity: 0.25;*/
    color: #777777;
    /*opacity: 0.25;*/
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #777777;
    /*border-radius: 4px;*/
  }
  textarea {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	width: 100%;
  }
  button {
      background-color: #4aaaa5;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 20px 0 0 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  .clearfix {
    clear: both;
  }

@media screen and (max-width:980px) {
  section {
    width: 50vw;
    margin-left: 3vw;
  }
  h1.nameLogo {
    margin-left: 3vw;
  }
  nav {
    margin-left: 35vw;
    float: left;
  }
  .widget {
    margin-left: 5vw;
    float: left;
  }
  img.headshot {
    height: 50vw;
  }
}

@media screen and (max-width:768px) {

    .overContainer {
      width: inherit;
    }

    h1.nameLogo {
      margin: 20px 20px 0 5vw;;
    }

    nav {
      margin: 40px 10vw 0 0;
      float: right;
    }

    section {
      margin: 30px 10vw 20px 5vw;
      width: 80vw;
    }

    .widget {
      padding: 10px 20px 0 20px;
      margin: 30px 10vw 20px 5vw;
      width: 80vw;
      float: left;
    }
  }

@media screen and (max-width:640px) {
  img.headshot {
    height: 80vw;
    width: 80vw;
    float: none;
  }

  h1.nameLogo {
    width: 100%;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
  }

  nav a {
    padding: 0 20px 0 20px;
  }

  .portfolioImage {
    width: 80vw;
    height: 80vw;
    margin: 20px 0 20px 0;
  }

  h3 {
    width: 80%;
    margin: 65vw 0 0 0;
  }

  img.other {
    height: auto;
    width: 80%;
  }

  section {
    margin-right: 10vw;
    margin-left: 5vw;
    overflow: auto;
  }

}
